@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<video autoplay  controls="controls">
    <source src="https://www.youtube.com/embed/watch?v=papuvlVeZg8&ab_channel=CleanBandit" />
</video>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
